<button type="button" class="btn btn-outline-primary common-class">New</button>
<div class="container">

  <table class="table table-dark">
    <thead>
      <tr>
        <th>Name</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Startdate</th>
        <th>Duedate</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{value[0].name}}</td>
        <td>{{value[0].priority}}</td>
        <td>{{value[0].status}}</td>
        <td>{{value[0].startDate}}</td>
        <td>{{value[0].dueDate}}</td>
        <td>{{value[0].comments}}</td>
      </tr>
      <tr>
        <td>{{value[1].name}}</td>
        <td>{{value[1].priority}}</td>
        <td>{{value[1].status}}</td>
        <td>{{value[1].startDate}}</td>
        <td>{{value[1].dueDate}}</td>
        <td>{{value[1].comments}}</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>