<div class="d-flex flex-column">
  <div id="app" class="d-flex todo-flex">
    <nav class="navbar navbar-expand-lg navbar-light bg-light todo-flex">
      <a class="navbar-brand" href="#">TODO APP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" (click)="homeClick()">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" (click)="tasksClick()">Tasks</a>
          </li>


        </ul>

      </div>
    </nav>
  </div>

  <div>
    <app-home *ngIf="isHomeView"></app-home>
    <app-tasks *ngIf="!isHomeView"></app-tasks>
  </div>

  <div class="footer">
    <p>@copyright </p>
  </div>