<section>
  <div class="container">
    <div class="row common-class">
      <div class="col-lg-3">
        Name:
      </div>
      <div class="col-lg-9">
        {{value.name}}
      </div>
    </div>
    <div class="row common-class">
      <div class="col-lg-3">
        Pending task:
      </div>
      <div class="col-lg-9">
       {{value.pendingTasks}}
      </div>
    </div>
    <div class="row common-class">
      <div class="col-lg-3">
        Completed Tasks:
      </div>
      <div class="col-lg-9">
        {{value.completedTasks}}
      </div>
    </div>
    <div class="row common-class ">
      <div class="col-lg-3">
        Total tasks :
      </div>
      <div class="col-lg-9">
       {{value.totalTasks}}
      </div>
    </div>

  </div>

</section>